<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplexendpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7330/Service.svc" binding="wsDualHttpBinding"
                bindingConfiguration="duplexendpoint" contract="TexasHoldEm.IService"
                name="duplexendpoint">
                <identity>
                    <userPrincipalName value="TIGER\alex" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>